.slide {
    &Question {
        display: block;
        margin: 25px 0;
        font-size: 1.3em;
    }
    
    &ImageWrap {
        position: relative;
        padding-top: 66%;
        overflow: hidden;
    }
    
    &Image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}