@import 'styles/media';

.lg {
    margin-right: 22px;
    height: 23px;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    img {
        width: 146px;
        display: block;
    }

    a {
      height: auto;
      display: block;

        &:focus-visible {
            outline: 1px solid var(--color);
        }
    }
}

@media screen and (max-width: $sm-desktop-width) {
    .lg {
        height: 18px;
        img {
            max-height: 50px;
            object-fit: cover;
            width: 114px;
        }
    }
}
