@import 'styles/media';

.article {
    background-color: #FFF;
    padding: 36px 70px 1px;
    border-radius: 10px;
    width: 100%;
    height: 100%;

    &BannerAfterTags {
      margin-bottom: 20px;
    }
    
    @media  screen and (max-width: $sm-desktop-width) {
        padding: 36px 32px 1px;
    }
    @media  screen and (max-width: $mobile-width) {
        padding: 18px 16px 1px;
    }

    &Loading {
      display: flex;
      align-items: center;
      min-height: 500px;

      @media  screen and (max-width: $sm-desktop-width) {
        min-height: 200px;
      }
    }
}
