@import '../../../../styles/media';

.tape {
    padding: 40px 50px 25px;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 26px;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;

    @media screen and (max-width: $tablet-width) {
        padding: 20px 20px 35px;
        grid-gap: 20px;
        background-color: var(--back);
    }
    @media screen and (max-width: $mobile-width) {
        grid-template-columns: repeat(2, auto);
        padding: 20px 20px 35px;
        grid-gap: 12px;
    }
}