@import 'styles/media';

.login {
     max-width: 450px;
     position: absolute;
     display: flex;
     flex-direction: column;
     justify-content: center;
     top: 50%;
     transform: translateY(-50%);
     left: 3px;
     right: 3px;
     margin: auto;
     z-index: 301;
     animation-name: loginShow;
     animation-duration: .2s;
     animation-timing-function: linear;
     animation-fill-mode: forwards;

   &Wrap {
     background-color: #ffffff;
     border-radius: 5px;
     position: relative;
   }

   &Shadow {
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        z-index: 300;
        animation-name: loginShadowShow;
        animation-duration: .2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
   }

   &ShadowCloseAnimate {
     animation-name: loginShadowClose;
     animation-duration: .2s;
     animation-timing-function: linear;
     animation-fill-mode: forwards;
   }

   &CloseAnimate {
     animation-name: loginClose; 
     animation-duration: .2s;
     animation-timing-function: linear;
     animation-fill-mode: forwards; 
   }

   &Header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 16px 24px;
     height: 64px;
     background-color: var(--light-back);
     border-radius: 10px 10px 0px 0px;
   }

   &Title {
     font-size: 20px;
     font-weight: bold;
     color: var(--color);
   }

   &BtnClose {
     display: block;
     width: 40px;
     height: 40px;
     position: absolute;
     top: -32px;
     right: -40px;
     background-repeat: no-repeat;
     background-position: center;
     border: none;
     background-color: transparent;
     cursor: pointer;
     background-image: url("/img/icon-close-white.svg");
   }

}

@media screen and (max-width: $mobile-width) {
     .loginHeader { 
          padding-top: 20px;
          padding-bottom: 0;
          background-color: transparent;
          flex-direction: column;
          height: auto;
     }

     .loginTitle {
          margin-bottom: 15px;
          max-width: 200px;
          text-align: center;
     }

     .loginBtnClose {
          background-image: url("/img/icon-close.svg");
          top: 6px;
          right: 6px;      
     }
}

@keyframes loginShow {
     0% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}

@keyframes loginClose {
     0% {
          opacity: 1;
     }
     100% {
          opacity: 0;
     }
}

@keyframes loginShadowShow {
     0% {
          background-color: rgba(0, 0, 0, 0);
     }
     100% {
          background-color: rgba(0, 0, 0, 0.4);
     }
 }
 

 @keyframes loginShadowClose {
     0% {
          background-color: rgba(0, 0, 0, 0.4);
     }
     100% {
          background-color: rgba(0, 0, 0, 0);
     }
 }