.searchResult {

  &Item {
      display: block;
      font-size: 16px;
      padding: 24px 35px;
      border-top: 1px solid var(--back);
  }

  &Item:hover {
      background-color: var(--light-back);
  }
}