@import '../../../../styles/media';

.formPeoplecontrol {
    display: grid;
    grid-template-areas: 
    "name name category category category"
    "text text text text text"
    "videoLink videoLink pers pers pers"
    "foto foto foto foto foto"
    "add send send send send";
    grid-template-columns: 27% 23% 20% auto auto;
    padding: 0;
    grid-gap: 0;
    align-items: flex-start;

    &Description {
      margin-bottom: 25px;
    }

    &Text textarea {
      height: 150px;
    }
    
    &Add {
      border: 1px solid;
      padding: 10px 12px;
      text-align: center;
      border-radius: 100px;

      @media screen and (max-width: $sm-tablet-width) {
        width: 232px;
      }
    }

    &Send {
      margin-left: 30px;
    }

    @media screen and (max-width: $sm-desktop-width) {
        grid-template-areas:
            "name name category"
            "text text text"
            "videoLink videoLink videoLink"
            "pers pers pers"
            "foto foto foto"
            "add  send send"
            ;
        grid-template-columns: 35% 15% 50%;
    }
    @media screen and (max-width: $sm-tablet-width) {
        grid-template-areas:
            "name"
            "category"
            "text"
            "videoLink"
            "pers"
            "foto"
            "add"
            "send"
            ;
        grid-template-columns: 100%;
    }

    &Name {
        grid-area: name;
        margin-right: 10px;
        @media screen and (max-width: $sm-tablet-width) {
            margin-right: 0;
        }
    }

    &Catagory {
      grid-area: category;
      background: var(--light-back);
      border-radius: 7px;

        @media screen and (max-width: $sm-tablet-width) {
            margin-left: 0;
        }
    }

    &Text {
        grid-area: text;
        margin-bottom: 2px;
    }

    &VideoLink {
        grid-area: videoLink;
        margin-right: 10px;
        @media screen and (max-width: $sm-desktop-width) {
          margin-right: 0;
        }
    }

    &CheckPersonal {
        grid-area: pers;
        margin-bottom: 20px;
        @media screen and (max-width: $md-desktop-width) {
            margin-bottom: 10px;
        }
        @media screen and (max-width: $sm-tablet-width) {
            margin-bottom: 0;
        }
    }

    &Photo {
        grid-area: foto;
        margin-bottom: 20px;
        transition: all 1s;
        @media screen and (max-width: $sm-tablet-width) {
            margin: 15px 0 15px;
        }
    }

    &Add {
        grid-area: add;
        align-self: center;
        transition: all 1s;
        @media screen and (max-width: $sm-tablet-width) {
          margin-bottom: 25px;
          margin-top: 20px;
          justify-self: center;
        }
    }

    &Send {
        grid-area: send;
        width: 295px;
        transition: all 1s;
        @media screen and (max-width: $md-desktop-width) {
            margin-left: 40px;
        }
        @media screen and (max-width: $sm-desktop-width) {
            margin-left: 0;
            justify-self: center;
        }

        @media screen and (max-width: $sm-tablet-width) {
          width: 232px;
          min-width: auto;
        }
    }
}
