@import 'styles/media';

.concursSliderItem {

  &Link {
    display: grid;
    grid-template-columns: 296px auto 1fr;
    grid-template-areas:
        "img title title"
        "img time time ";
    grid-gap: 14px 15px;
    min-height: 187px;

    &:hover .concursSliderItemTitle span {
      background-size: 100% 1px;
    }

    @media screen and (max-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      padding: 0 0 14px;
      height: 100%;
    }
  }

  &ImgWrap {
    grid-area: img;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 53.6%;
    position: relative;
  }

  &ImgWrapNoPhoto {
    background-color: #F7F9FA;
    background-image: url('/img/no-photo-horizontal.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  &Img {
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100% !important;
  }

  &Title {
    grid-area: title;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    max-height: 4rem;

    &Inner{
      background-image: linear-gradient(var(--color), var(--color));
      background-size: 0 1px;
      background-repeat: no-repeat;
      background-position: 0 100%;
      transition: background-size .5s linear;
    }

    @media screen and (max-width: $sm-desktop-width) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      text-overflow: ellipsis;
      max-height: 7.8rem;
    }

    @media screen and (max-width: $sm-tablet-width) {
      max-height: 8rem;
    }

    @media screen and (max-width: $mobile-width) {
      padding: 0 20px;
      -webkit-line-clamp: 2;
    }
  }

  &Time {
    grid-area: time;
    align-self: self-end;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    @media screen and (max-width: $mobile-width) {
      margin-left: 18px;
      font-size: 12px;
      margin-top: auto;
      align-self: auto;
    }
  }

  @media screen and (max-width: $mobile-width) {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    height: 305px;
  }
}