.chb {
    display: none;
    
    + label {
        display: block;
        max-width: 494px;
        padding: 10px 11px 10px 64px;
        margin-bottom: 10px;
        font-size: .8em;
        border: 1px solid var(--disabled);
        border-radius: 7px;
        cursor: pointer;
        position: relative;
        transition: background-color .4s;
        
        a {
            color: var(--primary);
            transition: color .4s;
            
            &:hover {
                color: var(--primary-light);
            }
        }
        
        &::before {
            content: "";
            width: 30px;
            height: 30px;
            background-color: #FFF;
            border: 1px solid #a1a1a1;
            border-radius: 7px;
            position: absolute;
            top: 50%;
            left: 17px;
            transform: translateY(-50%);
            transition: background-color .4s;
        }
        
        &:hover {
            background-color: var(--light-back);
        }
        
        &:focus-visible {
            background-color: var(--light-back);
            outline: 1px solid var(--color)
        }
    }
    
    &:checked + label {
        background-color: var(--light-back);
        
        &::after {
            content: "";
            width: 16px;
            height: 13px;
            background-image: url("/img/icon-check-on.svg");
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50%;
            left: 24px;
            transform: translateY(-50%);
        }
    }
}

.wrap {
    margin-bottom: 10px;
    position: relative;
    
    &.error {
        label {
            background-color: rgba(234, 60, 60, 0.15);
            border: 1px solid rgba(234, 60, 60, 0.2);
        }
    }
    
    span {
        color: var(--error);
        font-size: 12px;
        line-height: 1;
        position: absolute;
        left: 20px;
        bottom: -12px;
    }
}