@import 'styles/media';

.authorProfile {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;

  &Head {
    background-color: #f7f9fa;
    padding: 12px 40px 14px;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    
    @media  screen and (max-width: $sm-tablet-width) {
      text-align: center;
    }
  }

  &Info {
    display: grid;
    grid-gap: 0 24px;
    grid-template-columns: 145px auto;
    padding: 40px 40px 25px;
    background-color: #fff;
  }

  &PhotoImg {
    display: block;
    height: 145px !important;
    width: 145px;
    object-fit: cover;
  }

  &UserName {
    font-size: 20px;
    font-weight: 700;

    @media  screen and (max-width: $sm-tablet-width) {
      text-align: center;
    }
  }

  &UserInfoItem {
    margin-bottom: 5px;
    font-size: 14px;

    @media  screen and (max-width: $sm-tablet-width) {
      text-align: center;
    }
  }

  &UserAboutTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;

    @media  screen and (max-width: $sm-tablet-width) {
      text-align: center;
    }
  }

  &UserAbout {
    font-size: 16px;
    line-height: 24px;

    a {
      color: var(--primary);
  
      &:hover {
        color: var(--primary-light);
      }

    }

    @media  screen and (max-width: $sm-tablet-width) {
      text-align: center;
    }
  }

  @media  screen and (max-width: $sm-tablet-width) {

    &Head {
      padding: 7px 24px 8px;
    }

    &Title {
      text-align: center;
      font-size: 20px;
    }

    &Photo {
      margin-bottom: 20px;
    }

    &Info {
      display: block;
      padding: 30px 24px 25px 30px;
    }

    &UserAbout {
      max-width: 100%;
    }
  }
}
