@import 'styles/media';

.articleTags {
    padding: 0;
    margin: 0 0 40px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap:  15px 7px;

    @media  screen and (max-width: $tablet-width) {
      margin: 0 0 30px 0;
    }

  @media  screen and (max-width: $mobile-width) {
    margin: 12px 0 32px 0;    
  }

  &Item {
    list-style: none;
    font-size: 16px;
    line-height: 26px;
  }

  &Link {
    background: var(--light-back);
    border: 1px solid var(--back);
    border-radius: 15px;
    padding: 0 11px 2px;
    text-decoration: none;
    outline: none;
    transition: .4s;
    color: var(--tags) !important;

    &:first-letter {
        text-transform: uppercase;
    }

    &:hover, &:active {
        background-color: var(--back);
    }
  }
}
