.nwsCln {
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  flex-grow: 1;
  display: flex;
  width: 100%;
  
  &Inner {
    flex-grow: 1;
  }
    
    &Title{
        padding: 15px 5px;
        margin: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        background-color: var(--light-back);
        overflow: hidden;
    }
    
    &Container {
        background-color: #FFF;
        padding: 0;
        margin: 0;
        position: relative;
    }
}
