.alrt {
    padding: 15px 55px 15px 22px;
    margin: 5px 0;
    font-size: 0.89rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 2px var(--disabled);
    position: relative;

    &Success {
      background-color: #E9FEEF;
    }

    &Info {
      background-color: #E0F5F7;
    }

    &Error {
      background-color: #f08282;
    }
    
    &Btn {
        width: 40px;
        height: 40px;
        background-color: transparent;
        background-image: url("/img/icon-close.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: opacity .4s;
        
        &:hover {
            opacity: .7;
        }
    }
    
    p {
        margin: 0;
    }
}