@import 'styles/media';

.newsPreview {
    height: 445px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    
    &Link {
        &:hover .newsPreviewTitleInner {
            background-size: 100% 1px;
        }
    }
    
    &ImgWrap {
        display: block;
        position: relative;
        padding-top: 49.856%;
        overflow: hidden;

        @media  screen and (max-width: $mobile-width) {
          padding-top: 60.51%;
        }
    }

    &ImgWrapNoImage {
      background-image: url("/img/no-photo-horizontal.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: #F7F9FA;
    }
    
    &Img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100% !important;
        width: 100%;
        object-fit: cover;
    }

    &Img::after {  
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
    }
    
    &Title {
        max-height: 14rem;
        padding: 22px 25px 30px 25px;
        margin: 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 37px;
        color: var(--color);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        text-overflow: ellipsis;
    
        &Inner {
            background-image: linear-gradient(var(--color), var(--color));
            background-size: 0 1px;
            background-repeat: no-repeat;
            background-position: 0 100%;
            transition: background-size .5s linear;
        }
    }
}

@media  screen and (max-width: $tablet-width) {
    .newsPreview {
        height: auto;
        width: 100%;
    
        &Title {
            padding: 33px 27px 41px;
            display: block;
            overflow: visible;
            max-height: 100%;
            text-align: center;
        }
    }
}

@media  screen and (max-width: $sm-tablet-width) {
    .newsPreview {
        &Title {
            font-size: 22px;
            line-height: 33px;
        }
    }
}

@media  screen and (max-width: $mobile-width) {
    .newsPreview {
        width: calc(100%);
        margin: 0 auto 20px;

        &Title {
            padding: 30px 16px 34px 16px;
            text-align: left;
            font-size: 20px;
            line-height: 28px;
        }
    }
}