@import 'styles/media';

.ServiceLentaLayout {
  background-color: var(--light-back);
  border-radius: 10px;
  padding: 14px;

  &Banner {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;


    &:last-child {
      margin-bottom: 0;
    }
  }

  &Row {
    margin-bottom: 20px;
  }
}