@import '../../../../styles/media';

.searchLivePage {

    &Form {
        position: relative;
        margin-bottom: 20px;
        display: none;
    }

    &Input {
        width: 100%;
        border: none;
        font-size: 16px;
        color: var(--color);
        height: 46px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
    }

    &Input:focus-visible {
        outline: none;
    }

    &Submit {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 19px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -20px;
        border: none;
        background-color: transparent;
        background-image: url("/img/icon-search-gray.svg");
        cursor: pointer;
    }
}

@media screen and (max-width: $tablet-width) {
    .searchLivePageForm {
        display: block;
    }
}

@media screen and (max-width: $mobile-width) {
    .searchLivePageForm {
        margin-right: 7px;
        margin-left: 7px;
    }

    .searchLivePageInput {
        height: 40px;
        padding-left: 14px;
    }
}