/* DayPicker styles */

.DayPicker {
  font-size: 1rem;
  background-color: #ffffff;
  border: 1px solid var(--back);
  border-top: 0;
  position: absolute;
}

.DayPicker-wrapper {
  position: relative;

  flex-direction: row;
  padding-bottom: 1em;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Month {
  display: table;
  margin: 0 1em;
  margin-top: 1em;
  border-spacing: 0;
  border-collapse: collapse;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.DayPicker-NavButton {
  position: absolute;
  top: 1em;
  right: 22px;
  left: auto;

  display: inline-block;
  margin-top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8B9898;
  cursor: pointer;
}

.DayPicker-NavButton:hover {
  opacity: 0.8;
}

.DayPicker-NavButton--prev {
  margin-right: 43px;
  background-image: url(/img/icon-arrow-prev.svg);
  background-size: 9px;
}

.DayPicker-NavButton--next {
  background-image: url('/img/icon-arrow-next.svg');
  background-size: 9px;
}

.DayPicker-NavButton--interactionDisabled {
  display: none;
}

.DayPicker-Caption {
  display: table-caption;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  text-align: left;
}

.DayPicker-Caption > div {
  font-size: 16px;
  font-weight: bold;
}

.DayPicker-Weekdays {
  display: table-header-group;
  margin-top: 1em;
}

.DayPicker-WeekdaysRow {
  display: table-row;
}

.DayPicker-Weekday {
  display: table-cell;
  padding: 0.5em;
  color: #8B9898;
  text-align: center;
  font-size: 0.875em;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Week {
  display: flex;
  border-top: 1px solid var(--light-back);
}

.DayPicker-Day {
  padding: 0.5em;
  font-size: 16px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  width: 40px;
  height: 40px;
}

.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5em;
  min-width: 1em;
  border-right: 1px solid #EAECEC;
  color: #8B9898;
  vertical-align: middle;
  text-align: right;
  font-size: 0.75em;
  cursor: pointer;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Footer {
  padding-top: 0.5em;
}

.DayPicker-TodayButton {
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #4A90E2;
  font-size: 0.875em;
  cursor: pointer;
}


/* Example modifiers */

.DayPicker-Day--outside {
  color: gray;
}

.DayPicker-Day--sunday {
  background-color: #F7F8F8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #DCE0E0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  z-index: 1;
  background-color: var(--back);
}

.selectable 
.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
 background-color: var(--light-back) !important;
 color: var(--color);
 z-index: 0;
}

.selectable .DayPicker-Day {
 border-radius: 0 !important;
}

.selectable .DayPicker-Day--start {
 border-radius: 100px !important;
 position: relative;
}

.selectable .DayPicker-Day--end {
  border-radius: 100px !important;
}

.DayPicker-Day--selected {
  position: relative;
}

.selectable .DayPicker-Day--start + .DayPicker-Day--selected::after {
  content: "";
  position: absolute;
  background-color: var(--light-back) !important;
  width: 40px;
  height: 40px;
  left: -20px;
  top: 0;
  z-index: -1;
}

.selectable .DayPicker-Day--end {
  position: relative;
}

.selectable .DayPicker-Day--end::after {
  content: "";
  display: block;
  -webkit-box-shadow: -10px 0px 0px -1px var(--light-back);
  box-shadow: -10px 0px 0px 0px var(--light-back);
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  border-radius: 25px 0 0 25px;
}


.DayPicker-Day--start.DayPicker-Day--end.DayPicker-Day--selected::after {
  display: none;
}