.articleVoteItem {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  position: relative;

  &Label {
    display: block;
    margin-top: 10px;
  }

  &Label input {
    visibility: hidden;
    position: absolute;
  }

  &Input:enabled + .articleVoteItemBg:hover {
    background-color: var(--back);
    cursor: pointer;
  }

  &Input:checked + .articleVoteItemBg {
    background-color: var(--back);
  }

  &Value {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: -33px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    bottom: 3px;
  }

  &Bg {
    display: block;
    border-radius: 3px;
    background-color: var(--light-back);
    transition: background-color .2s;
    position: relative;
    height: 36px;
  }


  &ProgressTitle {
    position: absolute;
    top: 4px;
    left: 18px;
  }
}