@import '../../../styles/media';

.news{
    height: 125px;
    background-color: #FFF;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    &:last-child{
      margin-bottom: 0;
    }

    @media  screen and (max-width: $tablet-width){
        height: auto;
    }

    @media  screen and (max-width: $mobile-width){
        width: calc(100% - 48px);
        margin: 0 auto 20px;
    }

    &Loaded {
      display: none;
    }

    &Link{
        display: grid;
        grid-template-columns: 171px auto 2fr 1fr ;
        grid-template-areas:
            "img title  title    title"
            "img time  comments  photo ";
        grid-gap: 14px 15px;
        padding: 11px;
        color: var(--color);

        @media  screen and (max-width: 1167px){
            grid-template-columns: 171px 1fr 1fr 1fr ;
        }
        @media  screen and (max-width: 867px){
            grid-template-columns: 150px 1fr 1fr 1fr ;
        }
        @media  screen and (max-width: $tablet-width){
            grid-template-columns: 171px 1fr 1fr 1fr ;
        }
        @media  screen and (max-width: $mobile-width){
            grid-template-columns: 2fr 1.2fr 3fr ;
            grid-template-areas:
                "img img img "
                "title  title    title"
                "time  comments  . ";
            padding: 0 0 14px;
            grid-gap: 14px 5px;
        }

        &:hover .newsTitle span {
            background-size: 100% 1px;
        }

    }
    &ImgInner{
        grid-area: img;
        align-self: center;
    }
    &ImgWrap{
        display: block;
        padding-top: 53.6%;
        grid-area: img;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        @media  screen and (max-width: $mobile-width){
            border-radius: 7px 7px 0 0;
            overflow: hidden;
        }
    }
    &Img{
        position: absolute;
        left: 0;
        top: 0;
        height: 100% !important;
        width: 100%;
        object-fit: cover;
    }
    &Title{
        grid-area: title;
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        max-height: 4rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        &Inner{
            background-image: linear-gradient(var(--color), var(--color));
            background-size: 0 1px;
            background-repeat: no-repeat;
            background-position: 0 100%;
            transition: background-size .5s linear;
        }


        @media  screen and (max-width: 1167px){
            font-size: 16px;
        }
        @media  screen and (max-width: $sm-desktop-width){
            font-size: 20px;
        }
        @media  screen and (max-width: $tablet-width){
            font-size: 18px;
        }
        @media  screen and (max-width: $mobile-width){
            padding: 0 20px;
            display: block;
            overflow: visible;
            max-height: 100%;
        }
    }
    &Time{
        grid-area: time;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        @media  screen and (max-width: $mobile-width){
            margin-left: 18px;
            font-size: 12px;

        }
    }
    &Comments{
        grid-area: comments;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        @media  screen and (max-width: $mobile-width){
            font-size: 12px;
        }
    }
    &Icon{
        position: relative;
        bottom: -2px;
        margin: 0 5px 0 0;
    }
    &Tag{
        position: absolute;
        bottom: 11px;
        right: 11px;
        max-width: 145px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        padding: 5px 9px;
        border: 1px solid var(--back);
        border-radius: 15px;
        background-color: var(--light-back);
        text-align: center;
        transition: .4s;

        @media  screen and (max-width: $mobile-width){
          font-size: 12px;
          bottom: 14px;
          right: 14px;
          padding: 7px 24px;
        }

        &:hover, &:active {
            background-color: var(--back);
        }
    }


    @media screen and (max-width: $mobile-width) {
      &Loaded {
        display: block;
        margin-top: 20px;
      }

      &TimeYesterdayHidden {
        display: none;
      }
    }
}
