@import 'styles/media';

.socialListSubscribe {
  display: flex;
  margin-top: 22px;
  flex-direction: column;

  &Title {
    text-align: center;
    font-size: 20px;
    color: #A1A1A1;
    font-weight: bold;
    margin-bottom: 10px;

    @media screen and (max-width: $sm-desktop-width) {
      font-size: 14px;
      margin-right: 12px;
    }

    @media screen and (max-width: $mobile-width) {
      margin-right: 10px;
    }
  }


  &Links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  &LinksMoveTwo &Link {
    grid-column: auto;
  }

    &Link {
      display: block;
      height: 40px;
      border-radius: 90px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #ecf0f2;

      @media screen and (max-width: $sm-desktop-width) {
        height: 30px;
      }
    }

    &Link:last-child:nth-child(odd) {
      grid-column: 1/3;
    }

    &LinkYandexNews {
      background-size: 180px;
      background-image: url("/img/icon-yandex-news-subscribe.svg");

      @media screen and (max-width: $sm-desktop-width) {
        background-size: 132px;
      }

      @media screen and (max-width: $mobile-width) {
        background-size: 120px;
      }
      
    }

    &LinkZen {
      background-size: 152px;
      background-image: url("/img/icon-zen-subscribe.svg");
      background-color: #202022;

      @media screen and (max-width: $sm-desktop-width) {
        background-size: 114px;
      }

      @media screen and (max-width: $mobile-width) {
        background-size: 114px;
      }
    }

    &LinkVk {
      background-size: 127px;
      background-image: url("/img/icon-vk-subscribe.svg");

      @media screen and (max-width: $sm-desktop-width) {
        background-size: 98px;
      }

      @media screen and (max-width: $mobile-width) {
        background-size: 100px;
      }
    }

    &LinkOk {
      background-size: 180px;
      background-image: url("/img/icon-ok-subscribe.svg");

      @media screen and (max-width: $sm-desktop-width) {
        background-size: 150px;
      }
    }

    &LinkTg {
      background-size: 121px;
      background-image: url("/img/icon-tg-subscribe.svg");

      @media screen and (max-width: $sm-desktop-width) {
        background-size: 97px;
      }

      @media screen and (max-width: $mobile-width) {
        background-size: 82px;
      }
    }
}
