@import '../../../../styles/media';

.concursPhoto {

  &ImgWrap {
    display: block;
    padding-top: 165%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
  }

  &Img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &Info {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10.43%, rgba(0, 0, 0, 0.54) 48.37%, rgba(0, 0, 0, 0.9) 77.76%);
    border-radius: 20px;
 
    > span {
      max-height: 4rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      margin-bottom: 10px;
    }

    &Count {
      display: block;
      font-size: 24px;
      line-height: 32px;
      border: none;
      background-color: transparent;
      margin: 0 auto;
      cursor: pointer;
      color: #FFFFFF;
      padding-right: 30px;
      background-image: url("/img/icon-heart.svg");
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 23px 27px;
    }

    &CountActive {
      background-image: url("/img/icon-heart-active.svg");
    }
  }

  &Active &InfoCount {
    background-image: url("/img/icon-heart-active.svg");
  }

  @media screen and (min-width: $sm-desktop-width) {

    &Info {
      display: none;
    }

    &Active,
    &:hover{
      .concursPhotoInfo{
        display: block;
      }
    }
  }
 
}