@import 'styles/media';

.TabBarItemEmpty {
  margin: auto;
  font-size: 24px;
  font-weight: bold;
  padding: 0 40px;
  text-align: center;

  @media  screen and (max-width: $sm-tablet-width) {
    font-size: 22px;
    line-height: 33px;
  }
}