.innerChatForm {
  font-size: 12px;

  &Username {
    font-weight: bold;
    color: #3D3D3D;
    margin-right: 10px;
  }

  &Address {
    font-size: 14px;
    color: #3D3D3D;
    background-image: url("/img/comment-to.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 9px;
    padding-left: 15px;
  }

  &Top {
    margin-bottom: 10px;
  }

  &Wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  &Field {
    width: calc(100% - 40px);
    position: relative;

    textarea {
      padding: 5px 10px;
      min-height: 35px !important;
      height: 35px;
    }
  }

  &Btn {
    width: 35px;
    height: 35px;
    padding: 0;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    background-color: #4D7299;
    background-repeat: no-repeat;
    background-position: center;

    &Send {
      background-image: url("/img/icon-chat-send.svg");
    }

    &Load {
      position: relative;

      &::before {
       content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/img/icon-loader.svg");
        background-position: center;
        background-repeat: no-repeat;
        animation-duration: 2s;
        animation-name: round;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

    }

    &:disabled {
      background-color: darkgray;
      cursor: auto;
    }
  }

  &EmojiBtn {
    width: 28px;
    height: 28px;
    padding: 0;
    background-color: transparent;
    background-image: url("/img/icon-smile.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
  }

}

@keyframes round {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}