.notifycation {
  position: sticky;
  right: auto;
  left: auto;
  top: 0;
  height: 0;
  z-index: 400;
  opacity: 1;
  transition: opacity 0.6s;
  padding: 0 43px;
  display: flex;
  align-items: start;
  margin-top: -40px;
  margin-bottom: 40px;

  &Wrap {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-grow: 1;
    border-radius: 8px;
    background-color: rgb(227 227 227 / 91%);
    margin: 0 auto;
    max-width: 1280px;
    padding: 25px 20px;
  }

  &InfoText {
    flex-grow: 1;
    font-size: 18px;
  }

  &Title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
  }

  &Text {
    margin: 0;
  }

  &Text > * {
    display: inline;
  }

  &Text a {
    color: #3271a8;
  }

  &Btn {
    min-width: auto;
    width: 100%;
    max-width: 150px;
    margin-top: auto;
    margin-left: 10px;
  }
  &Active {
    opacity: 0;
  }

  @media  screen and (max-width: 1024px) {
    padding: 0;
    margin-top: -20px;
    margin-bottom: 20px;
    top: 0;

    &Title {
      font-size: 14px;
    }
    
    &InfoText {
      font-size: 12px;
      line-height: 16px;
    }

    &Btn {
      min-height: 30px;
      max-width: 120px;
    }

    &Wrap {
      padding: 15px 20px;
    }
  }

  @media  screen and (max-width: 768px) {
    margin-top: -19px;
    margin-bottom: 19px;
    top: 60px;

    &Wrap {
      padding: 5px 10px 10px 10px;
      border-radius: 0;
    }

    &Btn {
      margin-top: 5px;
      min-height: 30px;
      max-width: 120px;
    }
  }

  @media  screen and (max-width: 320px) {
    &Wrap {
      flex-direction: column;
    }

    &Btn {
      margin-left: 0;
    }
  }
}