.field {
    width: 100%;
    height: 208px;
    padding: 16px 20px 14px;
    font: inherit;
    color: var(--disabled-text);
    font-size: 0.89rem;
    background: var(--light-back);
    border: 1px solid var(--disabled);
    border-radius: 7px;
    cursor: pointer;
    resize: none;
    box-shadow: none;
    transition: background-color .4s;
    
    &::placeholder {
        color: var(--disabled-text);
    }
    
    &:hover{
        background-color: var(--disabled);
    }
    
    &:focus {
        background: var(--light-back);
        outline: none;
    }
}

.wrap {
    position: relative;
    margin-bottom: 10px;
    transition: all .4s;
    
  
    &.error {
        margin-bottom: 30px;
        .field {
            background-color: rgba(234, 60, 60, 0.15);
            border: 1px solid rgba(234, 60, 60, 0.2);
        }
    }
    
    span {
        color: var(--error);
        font-size: 12px;
        line-height: 1;
        position: absolute;
        left: 20px;
        bottom: -12px;
    }
}
