@import 'styles/media';

.question {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    overflow: hidden;
    margin-top: auto;
    height: 290px;
    
    @media screen and (max-width: $mobile-width){
        background-color: transparent;
        border-radius: 0;
        width: calc(100% - 24px);
        margin: 0 0 0 21px;
        height: auto;
    }

    &Wrp {
      flex-grow: 1;
    }
    
    &Link{
        color: var(--color);
        text-decoration: none;
        cursor: pointer;
        outline: none;
    }
    
    &Title{
        margin: 0;
        padding: 16px 0 15px 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;

        &:hover &Inner::before {
          right: 28px;
          opacity: 1;
          animation-name: moveDecorateLine;
          animation-duration: 0.4s;
          animation-fill-mode: both;
        }

        @media  screen and (max-width: $mobile-width){
            padding: 0 0 15px;
        }
        &Link{
            color: var(--color);
        }
    }

    &TitleInner {
      position: relative;
  
      &::before {
        content: "";
        width: 11px;
        height: 1px;
        background-color: var(--color);
        position: absolute;
        bottom: 0;
        opacity: 1;
        transition: left 0.4s;
      }
    }

    &Wrp {
        @media  screen and (max-width: $mobile-width) {
            padding: 0;
            background-color: transparent;
        }
    }
}

@keyframes moveDecorateLine {
  from {left: 28px}
  to {left: calc(100% - 15px)}
}