.photoItem {
  position: relative;
  width: 100%;
  padding-top: 0;
  overflow: hidden;
  opacity: 0;
  border-radius: 10px;
  animation-name: showPhoto;
  animation-duration: .4s;
  animation-fill-mode: both;

  &Img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &Button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    opacity: .7;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: opacity .4s;
    
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: #FFF;
        background-image: url("/img/icon-close.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    
    &:hover,
    &:focus-visible {
        opacity: 1;
    }
  }
}

@keyframes showPhoto {
  from {
      opacity: 0;
      padding-top: 0;
  }
  
  40% {
      opacity: 0.2;
      padding-top: 61%;
  }
  
  to {
      opacity: 1;
      padding-top: 61%
  }
}
