.newsPreviewRight{
    position: relative;
    height: 445px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;

    &NoService {
      height: 503px;
    }

    &Link{
        color: var(--color);

        &:hover .newsPreviewRightTitleInner {
            background-size: 100% 1px;
        }
    }
    &ImgWrap{
        display: block;
        position: relative;
        padding-top: 58.93%;
    }

    &ImgWrapNoImage {
      background-image: url("/img/no-photo-horizontal.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: #F7F9FA;
    }

    &Img{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    &Img::after {  
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
    }
    
    &Title{
        margin: 21px 15px 11px 15px;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        max-height: 11rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        text-overflow: ellipsis;

        &Inner {
            background-image: linear-gradient(var(--color), var(--color));
            background-size: 0 1px;
            background-repeat: no-repeat;
            background-position: 0 100%;
            transition: background-size .5s linear;
        }
    }
    &Info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px ;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &Time{
        grid-area: time;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
    &Comments{
        grid-area: comments;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        background-image: url("/img/icon-comment.svg");
        background-repeat: no-repeat;
        background-position: top 8px left;
        margin-left: 10px;
        padding-left: 18px;
    }
    &Icon{
        margin: 0 5px 0 15px;
        position: relative;
        bottom: -2px;
    }
    &Tag{
        position: absolute;
        bottom: 15px;
        right: 15px;
        max-width: 120px;
        word-wrap: break-word;
        grid-area: photo;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        padding: 5px 9px;
        border: 1px solid var(--back);
        border-radius: 15px;
        background-color: var(--light-back);
    
        &:first-letter {
            text-transform: uppercase;
        }
    }
}
