@import '../../../../styles/media';

.concurs {
    background-color: #FFF;
    padding: 36px 70px 26px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    @media  screen and (max-width: $sm-desktop-width) {
        padding: 36px 32px 26px;
    }
    @media  screen and (max-width: $mobile-width) {
        padding: 18px 16px 18px;
    }

    h1{
        font-weight: bold;
        font-size: 32px;
        line-height: 50px;
        color: var(--color);
        padding: 0;
        margin: 0 0 20px;
        @media  screen and (max-width: $mobile-width) {
            font-size: 22px;
            line-height: 33px;
        }
    }
    blockquote{
        position: relative;
        padding: 0 0 0 14px;
        margin-left: 25px;
        color: var(--color);
        overflow: hidden;

        &:after{
            content: "";
            width: 2px;
            height: auto;
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            background-color: var(--color);
        }
    }

    &Body {
      margin-bottom: 40px;

      @media screen and (max-width: $tablet-width) {
        margin-bottom: 30px;
      }
    }

    &Body * {
      font-family: var(--main-font) !important;
      font-size: 18px !important;
      line-height: 30px !important;

      @media  screen and (max-width: $sm-desktop-width) {
        font-size: 16px !important;
        line-height: 26px !important;
      }
    }

    &Body a {
      color: var(--primary);

      &:hover {
        color: var(--primary-light);
      }
    }

    &Body p:last-child {
      margin-bottom: 0;
    }

    &Body img {
      width: auto !important;
      height: auto !important;
    }

    &Photos {
      width: auto;
      display: grid;
      grid-template-columns: repeat(4,auto);
      grid-gap: 26px;
      padding: 40px 0 20px;
      margin: 0 -19px;

      @media screen and (max-width: $tablet-width) {
        grid-gap: 20px;
        margin-left: -12px;
        margin-right: -12px;
      }
      @media screen and (max-width: $mobile-width) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
        margin: 0;
        padding: 30px 0 30px;
      }
    }
}

