.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2147483647;
  background-color: rgb(0 0 0 / 58%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 40px;
  opacity: 0;
  animation-name: modalShow;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  &CloseAnimate {
    animation-name: modalClose;
    animation-duration: .4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  &Wrp {
    background-color: #ffffff;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    margin: auto;
  }

  &BtnClose {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url("/img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity .4s;
  }
}


@keyframes modalShow {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


@keyframes modalClose {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}