@import 'styles/media';

.userProfileData {
  display: grid;
  grid-template-columns: 145px auto;
  align-items: start;
  padding: 40px 40px 25px 40px;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 0 0 10px 10px;


  &PhotoWrp {
    height: 145px;
    border-radius: 100px;
    overflow: hidden;
  }

  &Photo {
      height: 100%;
      object-fit: cover;
  }

  &Info {
      display: flex;
      flex-direction: column;
      padding: 6px 24px 0 24px;
      height: 100%;
  }

  &UserName {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px;
  }

  &UserEmail {
      font-size: 14px;
  }

  &Btns {
    margin-top: 55px;
  }

  &BtnChangePassword, &BtnLogout {
      max-width: 194px;
      font-size: 16px;
      padding: 12px 28px;
      border-radius: 90px;
      cursor: pointer;
      margin-right: 10px;
      margin-top: 10px;
  }

  &BtnChangePassword {
    background-color: var(--disabled);
    background-image: linear-gradient(
        94deg,
        rgba(255, 255, 255, 0.85) 7.34%,
        rgba(255, 255, 255, 0.52) 37.32%,
        rgba(255, 255, 255, 0.33) 57.31%,
        rgba(255, 255, 255, 0.52) 74.34%,
        rgba(255, 255, 255, 0.85) 87.32%);
    background-size: 200%;
    background-position: left;
    border: 1px solid var(--disabled);
    transition: background-position .4s;

    &:hover {
      background-position: right;
    }
    
    &.active {
      background: var(--disabled);
      pointer-events: none;
    }
    
    &:not(.active):focus-visible {
      outline: 1px solid var(--color);
    }
  }

  &BtnLogout {
    border: 1px solid var(--color);
    background-color: transparent;
  }

  &BtnAdmin {
    background-color: var(--primary);
    color: #ffffff;
    border-radius: 50px;
    display: inline-block;
    max-width: 194px;
    padding: 12px 28px;
    font-size: 16px;
    line-height: 1.15;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;

    &:hover {
      background-color: var(--primary-light);
    }

    &:focus-visible {
        outline: 1px solid var(--color);
    }
    
    &:active {
        background-color: var(--primary-dark);
    }
  }
}

@media screen and (max-width: $sm-desktop-width) {
  .userProfileData {
      padding: 30px 24px 25px 30px;
      margin-bottom: 20px;
  }
}

@media screen and (max-width: $mobile-width) {

  .userProfileData {
    display: block;
  }

  .userProfileDataInfo {
      align-items: center;
  }

  .userProfileDataPhoto {
      text-align: center;
      margin-bottom: 26px;
  }

  .userProfileDataPhotoImg {
      margin-bottom: 10px;
  }

  .userProfileDataUserName {
      margin-bottom: 5px;
  }

  .userProfileDataBtnChangePassword {
      margin-top: 24px;
      margin-right: 0;
  }

  .userProfileDataBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}