@import '../../../styles/media';

.formNewPassword {
    display: grid;
    grid-template-areas: "pass send";
    grid-template-columns: 345px auto;
    padding: 0;
    grid-gap: 20px;

    @media screen and (max-width: $tablet-width) {
        grid-template-areas: 
            "pass"
            "send"
            ;
        grid-template-columns: 100%;
    }

    &Field {
        grid-area: pass;
        margin-bottom: 0;
    }

    &Field span {
        right: 20px;
        bottom: 16px;
        left: auto;
    }

    &Send {
        grid-area: send;
        min-width: auto;
        max-width: 295px;
    }

}