@import '../../../../styles/media';

.concursNotStarted {
  width: auto;
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-gap: 26px;
  margin-bottom: 26px;

  @media screen and (max-width: $tablet-width) {
    grid-gap: 20px;
    margin-bottom: 20px;
    margin-left: -12px;
    margin-right: -12px;
  }
  @media screen and (max-width: $mobile-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    margin-bottom: 12px;
  }

  &Title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
}