@import 'styles/media';

.top {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  width: 100%;

  @media screen and (max-width: $sm-tablet-width) {

    &Link {
      display: inline;
    }

    &Link img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }

  &PushLinkIframe {
    display: block;
    position: relative;
    height: 70px;
    width: 100%;

    @media screen and (max-width: $sm-tablet-width) {
      padding-bottom: 51%;
      height: 0;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    div { 
      position:absolute; 
      height:100%; 
      width:100%; 
      z-index:1;
      top: 0;
    }
  
  }

  @media screen and (max-width: $sm-tablet-width) {
    &CHEBOKSARY &PushLinkIframe {
      padding-bottom: 31.25%;
    }
  }

  @media  screen and (max-width: $md-tablet-width) {
    border-radius: 0;
  }  
}