@import 'styles/media';

.wrap {
    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
        color: #000;
        padding: 0;
        margin: 0 0 20px;
    }

    h3 {
      font-size: 20px;
      line-height: 32px
    }

    h4 {
      font-size: 18px;
      line-height: 30px
    }

    h5 {
      font-size: 16px;
      line-height: 26px
    }

    h6 {
      font-size: 15px;
      line-height: 32px
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #000 ;
        padding: 0;
        margin: 0 0 30px;

      @media  screen and (max-width: $sm-desktop-width) {
        font-size: 18px !important;
        line-height: 30px !important;
      }
    }

    a {
      font-size: 18px;
      line-height: 30px;

      @media  screen and (max-width: $sm-desktop-width) {
        font-size: 18px !important;
        line-height: 30px !important;
      }
    }

    small a {
      font-size: inherit;

      @media  screen and (max-width: $sm-desktop-width) {
        font-size: inherit !important; 
      }
    }

    li {
      font-size: 18px;
      line-height: 30px;

      @media  screen and (max-width: $sm-desktop-width) {
        font-size: 18px !important;
        line-height: 30px !important;
      }

    }

    iframe{
      width: 100%;
    }

}

.body {
  a {
    color: var(--primary);
  }
}
