@import "media";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 18px;

    @media screen and (max-width: $tablet-width) {
        font-size: 16px;
    }
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
    color: var(--color);
    font-family: var(--main-font);
    font-size: 1rem;
    line-height: 1.6;
    word-wrap: break-word;
    background-color: var(--back);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto !important;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    outline: none;

    &:focus-visible {
        outline: 1px solid var(--color);
    }
}

body, #__next, main {
  display: flex;
  flex-direction: column;
}

#__next, main {
  flex-grow: 1;
}

main {
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
    margin-right: 15px;
    touch-action: none;
}

.visually-hidden {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  padding: 0!important;
  border: 0!important;
  height: 1px!important;
  width: 1px!important;
  overflow: hidden
}


.photo-small-float {
  margin: 0 20px 20px 0 !important;
  width: 150px !important;
  float: left !important;
  clear: left !important;
}
.photo-big-float {
  margin: 0 20px 20px 0 !important;
  width: 300px !important;
  float: left !important;
  clear: left !important;
}
.photo-small-float p {
  margin: 0 !important;
}
.photo-big-float p {
  margin: 0 !important;
}

@media screen and (max-width: $sm-tablet-width) {
  .photo-big-float, 
  .photo-small-float {
    float: none !important;
  }

  .no-scroll {
    margin-right: 0;
  }
}


@media screen and (max-width: $md-tablet-width) {
  img {
    width: auto;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.main-content {
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid rgb(240, 236, 236);
}


.project-col3-layout-news {
  background-color: var(--back);
  position: relative;
  padding-top: 20px;
  margin-top: -21px;
}

.article-next:nth-child(3) {
  margin-top: 20px;
}

.article-next:not(:last-child) {
  margin-bottom: 20px;
}