$desktop-width: 1366px;
$md-desktop-width: 1200px;
$sm-desktop-width: 1024px;
$tablet-width: 900px;
$md-tablet-width: 767px;
$sm-tablet-width: 640px;
$mobile-width: 480px;
$md-mobile-width: 375px;
$sm-mobile-width: 320px;
