#CHEBOKSARY:root {
  --main-font: 'Roboto', 'Arial', sans-serif;
}

#KIROV:root {
  --main-font: 'PT Serif', 'Times New Roman', serif;
}

:root {
  --color: #000106;
  --tags: #2B2B2B;
  --back: #ECF0F2;
  --light-back: #F7F9FA;
  --dark-back: #DAE4E9;
  --primary: #3271A8;
  --primary-light: #2F7CBF;
  --primary-dark: #236DAD;
  --secondary: #9E9FA0;
  --error: #EA3C3C;
  --disabled: #ECF0F2;
  --disabled-text: #A1A1A1;
}
