@import 'styles/media';

.rows {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    
    > * {
        flex-shrink: 0;
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        
        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: $md-tablet-width) { 
            margin-bottom: 15px;
         }

        @media  screen and (max-width: $mobile-width) {
          border-radius: 0;
        }
    }
}
