@import 'styles/media';

.formSearchNewspaper {
  display: grid;
  grid-template-columns: minmax(auto, 210px) minmax(auto, 210px) auto;
  grid-gap: 20px;
  margin-bottom: 40px;

  &Submit {
    min-width: auto;
    width: 154px;
    justify-self: right;

    @media  screen and (max-width: $md-tablet-width) {
      width: auto;
      min-width: 232px;
    }
  }

  @media screen and (max-width: $tablet-width) {
    grid-template-columns: 155px 155px auto;
    margin-bottom: 30px;
  }

  @media  screen and (max-width: $md-tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
}