@import 'styles/media';

.navItem {
    flex-grow: 1;
    display: block;
    padding: 12px 45px;
    min-height: 48px;
    font: inherit;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    
    &:nth-child(2) {
        background-color: var(--light-back);
    }
    
    &.navItemActive {
        background-color: #FFF;
        cursor: auto;
    }
}

@media  screen and (max-width: $mobile-width) {
    .navItem {
        min-height: 44px;
        padding: 10px 20px;
    }
}