.newsColumnItem{
    list-style: none;
    padding: 11px 0 10px;
    border-bottom: 1px solid var(--back);
    display: none;

    &:nth-child(-n+3) {
      display: block;
    }

    &Link{
        display: block;
        color: var(--color);
        padding: 0 20px 0 20px;
        cursor: pointer;
        @media  screen and (max-width: 867px){
            padding: 0 8px 0 5px;
        }

        &:hover .newsColumnItemTitle span {
            background-size: 100% 1px;
        }
    }
    &Title{
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        &Inner{
            background-image: linear-gradient(var(--color), var(--color));
            background-size: 0 1px;
            background-repeat: no-repeat;
            background-position: 0 100%;
            transition: background-size .5s linear;
        }
    }
    &Time{
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
        color: var(--primary);
    }
}
