.projectTextarea {
    width: 100%;
    height: 47px;
    padding: 10px 20px 10px;
    margin-bottom: 10px;
    font: inherit;
    color: var(--color);
    font-size: 0.89rem;
    background: var(--light-back);
    border: 1px solid var(--disabled);
    border-radius: 7px;
    box-shadow: none;
    transition: background-color .4s;
    resize: none;
    
    &::placeholder {
        color: var(--disabled-text);
    }
    
    &:hover{
        background-color: var(--disabled);
    }
    
    &:focus {
        background: var(--light-back);
        outline: none;
    }
}